/* Generated: 2026-04-22T02:43:28.218Z from tokens.tokens.json (317 variables) */
/* Layer: component */

:root {
  --component-accordion-content-bg: var(--bg-neutral-transparent);
  --component-accordion-icon-fg: var(--fg-neutral-subtle);
  --component-accordion-stroke: var(--stroke-neutral-subtle);
  --component-accordion-trigger-bg-hover: var(--bg-neutral-subtle);
  --component-accordion-trigger-bg-idle: var(--bg-neutral-transparent);
  --component-accordion-trigger-fg-idle: var(--fg-neutral-prominent);
  --component-avatar-2-x-large-font-size: 33px;
  --component-avatar-2-x-large-font-size-mono: 32px;
  --component-avatar-2-x-large-size: 64px;
  --component-avatar-2-x-large-stroke: 3px;
  --component-avatar-3-x-large-font-size: 49px;
  --component-avatar-3-x-large-font-size-mono: 48px;
  --component-avatar-3-x-large-size: 96px;
  --component-avatar-3-x-large-stroke: 4px;
  --component-avatar-account-bg-idle: var(--bg-neutral-soft);
  --component-avatar-account-fg-idle: var(--fg-neutral-medium);
  --component-avatar-agent-bg-idle: var(--bg-neutral-prominent);
  --component-avatar-agent-fg-idle: var(--fg-neutral-on-prominent);
  --component-avatar-computer-bg-idle: var(--bg-neutral-transparent);
  --component-avatar-computer-fg-idle: var(--fg-neutral-prominent);
  --component-avatar-count-bg-idle: var(--bg-neutral-transparent);
  --component-avatar-count-fg-idle: var(--fg-neutral-medium);
  --component-avatar-count-stroke-idle: var(--stroke-neutral-subtle);
  --component-avatar-customer-bg-idle: var(--object-customer-bg);
  --component-avatar-customer-fg-idle: var(--object-customer-fg);
  --component-avatar-customer-stroke-idle: var(--object-customer-stroke);
  --component-avatar-deactivated-bg-idle: var(--bg-neutral-soft);
  --component-avatar-deactivated-fg-idle: var(--fg-neutral-medium);
  --component-avatar-default-font-size: 11px;
  --component-avatar-default-font-size-mono: 10px;
  --component-avatar-default-size: 20px;
  --component-avatar-default-stroke: 1px;
  --component-avatar-icon-bg-idle: var(--bg-neutral-soft);
  --component-avatar-icon-fg-idle: var(--fg-neutral-medium);
  --component-avatar-large-font-size: 19px;
  --component-avatar-large-font-size-mono: 18px;
  --component-avatar-large-size: 36px;
  --component-avatar-large-stroke: 1.5px;
  --component-avatar-medium-font-size: 15px;
  --component-avatar-medium-font-size-mono: 14px;
  --component-avatar-medium-size: 28px;
  --component-avatar-medium-stroke: 1.25px;
  --component-avatar-small-font-size: 9px;
  --component-avatar-small-font-size-mono: 8px;
  --component-avatar-small-size: 16px;
  --component-avatar-small-stroke: 0.75px;
  --component-avatar-status-bg-offline: var(--feedback-status-offline);
  --component-avatar-status-bg-online: var(--feedback-status-online);
  --component-avatar-user-bg-idle: var(--bg-neutral-soft);
  --component-avatar-user-fg-idle: var(--fg-neutral-medium);
  --component-avatar-x-large-font-size: 25px;
  --component-avatar-x-large-font-size-mono: 24px;
  --component-avatar-x-large-size: 48px;
  --component-avatar-x-large-stroke: 2px;
  --component-banner-inline-intelligence-bg-prominent: var(--bg-intelligence-prominent);
  --component-banner-inline-intelligence-bg-subtle: var(--bg-intelligence-subtle);
  --component-banner-inline-intelligence-fg-prominent: var(--fg-intelligence-on-prominent);
  --component-banner-inline-intelligence-fg-subtle: var(--fg-intelligence-prominent);
  --component-bubble-customer-bg: var(--bg-neutral-inverted);
  --component-bubble-customer-fg: var(--fg-neutral-prominent);
  --component-bubble-customer-stroke: var(--object-customer-stroke);
  --component-bubble-self-bg: var(--bg-neutral-medium);
  --component-bubble-self-fg: var(--fg-neutral-on-prominent);
  --component-bubble-user-bg: var(--bg-neutral-soft);
  --component-bubble-user-fg: var(--fg-neutral-prominent);
  --component-button-destructive-bg-active: var(--control-bg-alert-active);
  --component-button-destructive-bg-disabled: var(--control-bg-alert-disabled);
  --component-button-destructive-bg-hover: var(--control-bg-alert-hover);
  --component-button-destructive-bg-idle: var(--control-bg-alert-idle);
  --component-button-destructive-fg-active: var(--control-fg-alert-active);
  --component-button-destructive-fg-disabled: var(--control-fg-alert-disabled);
  --component-button-destructive-fg-hover: var(--control-fg-alert-hover);
  --component-button-destructive-fg-idle: var(--control-fg-alert-idle);
  --component-button-destructive-stroke-active: var(--control-stroke-alert-active);
  --component-button-expressive-bg-active: var(--control-bg-expressive-yellow-active);
  --component-button-expressive-bg-disabled: var(--control-bg-expressive-yellow-disabled);
  --component-button-expressive-bg-hover: var(--control-bg-expressive-yellow-hover);
  --component-button-expressive-bg-idle: var(--control-bg-expressive-yellow-idle);
  --component-button-expressive-fg-active: var(--control-fg-expressive-yellow-active);
  --component-button-expressive-fg-disabled: var(--control-fg-expressive-yellow-disabled);
  --component-button-expressive-fg-hover: var(--control-fg-expressive-yellow-hover);
  --component-button-expressive-fg-idle: var(--control-fg-expressive-yellow-idle);
  --component-button-expressive-shadow-active: 0.75px 0.75px 2px rgba(0,0,0,0.18), 3px 4px 5px rgba(0,0,0,0.05), 5px 5px 8px rgba(0,0,0,0.04), inset -0.5px -0.5px 1.66px rgba(0,0,0,0.30), inset 1px 1px 3px 1px rgba(255,255,255,0.20);
  --component-button-expressive-shadow-hover: 2px 2px 4px rgba(0,0,0,0.12), 5px 6px 7px rgba(0,0,0,0.05), 7px 8px 10px rgba(0,0,0,0.04), inset -0.4px -0.4px 1.5px rgba(0,0,0,0.30), inset 1.5px 1.5px 2.5px 1px rgba(255,255,255,0.20);
  --component-button-expressive-shadow-idle: 0.75px 0.75px 2px rgba(0,0,0,0.18), 3px 4px 5px rgba(0,0,0,0.05), 5px 5px 8px rgba(0,0,0,0.04), inset -0.5px -0.5px 1.66px rgba(0,0,0,0.30), inset 1px 1px 3px 1px rgba(255,255,255,0.20);
  --component-button-group-divider-idle: var(--stroke-neutral-subtle);
  --component-button-primary-bg-active: var(--control-bg-neutral-prominent-active);
  --component-button-primary-bg-disabled: var(--control-bg-neutral-prominent-disabled);
  --component-button-primary-bg-hover: var(--control-bg-neutral-prominent-hover);
  --component-button-primary-bg-idle: var(--control-bg-neutral-prominent-idle);
  --component-button-primary-fg-active: var(--control-fg-neutral-prominent-active);
  --component-button-primary-fg-disabled: var(--control-fg-neutral-prominent-disabled);
  --component-button-primary-fg-hover: var(--control-fg-neutral-prominent-hover);
  --component-button-primary-fg-idle: var(--control-fg-neutral-prominent-idle);
  --component-button-primary-stroke-active: var(--control-stroke-neutral-prominent-active);
  --component-button-primary-stroke-disabled: var(--control-stroke-neutral-prominent-disabled);
  --component-button-primary-stroke-hover: var(--control-stroke-neutral-prominent-hover);
  --component-button-primary-stroke-idle: var(--control-stroke-neutral-prominent-idle);
  --component-button-secondary-bg-active: var(--control-bg-neutral-medium-active);
  --component-button-secondary-bg-disabled: var(--control-bg-neutral-medium-disabled);
  --component-button-secondary-bg-hover: var(--control-bg-neutral-medium-hover);
  --component-button-secondary-bg-idle: var(--control-bg-neutral-medium-idle);
  --component-button-secondary-fg-active: var(--control-fg-neutral-medium-active);
  --component-button-secondary-fg-disabled: var(--control-fg-neutral-medium-disabled);
  --component-button-secondary-fg-hover: var(--control-fg-neutral-medium-hover);
  --component-button-secondary-fg-idle: var(--control-fg-neutral-medium-idle);
  --component-button-secondary-stroke-active: var(--control-stroke-neutral-medium-active);
  --component-button-tertiary-bg-active: var(--control-bg-neutral-subtle-active);
  --component-button-tertiary-bg-disabled: var(--control-bg-neutral-subtle-disabled);
  --component-button-tertiary-bg-hover: var(--control-bg-neutral-subtle-hover);
  --component-button-tertiary-bg-idle: var(--control-bg-neutral-subtle-idle);
  --component-button-tertiary-fg-active: var(--control-fg-neutral-subtle-active);
  --component-button-tertiary-fg-disabled: var(--control-fg-neutral-subtle-disabled);
  --component-button-tertiary-fg-hover: var(--control-fg-neutral-subtle-hover);
  --component-button-tertiary-fg-idle: var(--control-fg-neutral-subtle-idle);
  --component-button-tertiary-stroke-active: var(--control-stroke-neutral-subtle-active);
  --component-checkbox-box-bg-checked-hover: var(--control-bg-expressive-yellow-hover);
  --component-checkbox-box-bg-checked-idle: var(--control-bg-expressive-yellow-idle);
  --component-checkbox-box-bg-unchecked-hover: var(--control-bg-neutral-subtle-hover);
  --component-checkbox-box-bg-unchecked-idle: var(--control-bg-neutral-subtle-idle);
  --component-checkbox-box-stroke-checked-idle: var(--control-bg-expressive-yellow-idle);
  --component-checkbox-box-stroke-unchecked-hover: var(--stroke-neutral-prominent);
  --component-checkbox-box-stroke-unchecked-idle: var(--stroke-neutral-medium);
  --component-checkbox-check-fg: var(--control-fg-expressive-yellow-idle);
  --component-checkbox-label-fg-disabled: var(--fg-neutral-subtle);
  --component-checkbox-label-fg-idle: var(--fg-neutral-prominent);
  --component-code-inline-bg: var(--bg-neutral-subtle);
  --component-code-inline-fg: var(--fg-expressive-orange-prominent);
  --component-counter-emphasis-bg: var(--bg-neutral-prominent);
  --component-counter-emphasis-fg: var(--fg-neutral-on-prominent);
  --component-counter-neutral-bg: var(--bg-neutral-transparent);
  --component-counter-neutral-fg: var(--fg-neutral-prominent);
  --component-counter-neutral-stroke: var(--stroke-neutral-subtle);
  --component-effect-spotlight-ellipse-bg: var(--bg-intelligence-prominent);
  --component-fullscreen-loader-message-fg: var(--fg-neutral-prominent);
  --component-fullscreen-loader-overlay-bg: var(--surface-backdrop);
  --component-input-bg-disabled: var(--input-bg-disabled);
  --component-input-bg-focus: var(--input-bg-active);
  --component-input-bg-hover: var(--input-bg-hover);
  --component-input-bg-idle: var(--input-bg-idle);
  --component-input-chat-bg-idle: var(--input-bg-idle);
  --component-input-fg-error: var(--input-fg-error);
  --component-input-fg-label: var(--input-fg-label);
  --component-input-fg-placeholder: var(--input-fg-placeholder);
  --component-input-fg-value: var(--input-fg-value);
  --component-input-stroke-error: var(--input-stroke-error);
  --component-input-stroke-focus: var(--input-stroke-focus);
  --component-input-stroke-hover: var(--input-stroke-hover);
  --component-input-stroke-idle: var(--input-stroke-idle);
  --component-keyboard-shortcut-key-bg: var(--bg-neutral-subtle);
  --component-keyboard-shortcut-key-fg: var(--fg-neutral-prominent);
  --component-keyboard-shortcut-key-stroke: var(--stroke-neutral-subtle);
  --component-keyboard-shortcut-separator-fg: var(--fg-neutral-prominent);
  --component-loader-fg-idle: var(--fg-neutral-prominent);
  --component-loader-track-idle: var(--fg-neutral-prominent);
  --component-menu-content-bg: var(--surface-overlay);
  --component-menu-content-stroke: var(--stroke-neutral-subtle);
  --component-menu-group-label-fg: var(--fg-neutral-subtle);
  --component-menu-item-bg-hover: var(--control-bg-neutral-subtle-hover);
  --component-menu-item-bg-idle: var(--bg-neutral-transparent);
  --component-menu-item-fg-disabled: var(--fg-neutral-subtle);
  --component-menu-item-fg-idle: var(--fg-neutral-prominent);
  --component-menu-separator-stroke: var(--stroke-neutral-subtle);
  --component-modal-content-bg: var(--surface-overlay);
  --component-modal-description-fg: var(--fg-neutral-subtle);
  --component-modal-footer-bg: var(--surface-overlay);
  --component-modal-header-fg: var(--fg-neutral-prominent);
  --component-modal-overlay-bg: var(--surface-backdrop);
  --component-popover-close-fg-hover: var(--fg-neutral-prominent);
  --component-popover-close-fg-idle: var(--fg-neutral-subtle);
  --component-popover-content-bg: var(--surface-overlay);
  --component-popover-content-stroke: var(--stroke-neutral-subtle);
  --component-radio-circle-bg-selected-hover: var(--control-bg-expressive-yellow-hover);
  --component-radio-circle-bg-selected-idle: var(--control-bg-expressive-yellow-idle);
  --component-radio-circle-bg-unselected-hover: var(--control-bg-neutral-subtle-hover);
  --component-radio-circle-bg-unselected-idle: var(--control-bg-neutral-subtle-idle);
  --component-radio-circle-stroke-selected-idle: var(--control-bg-expressive-yellow-idle);
  --component-radio-circle-stroke-unselected-hover: var(--stroke-neutral-prominent);
  --component-radio-circle-stroke-unselected-idle: var(--stroke-neutral-medium);
  --component-radio-dot-fg: var(--control-fg-expressive-yellow-idle);
  --component-radio-label-fg-disabled: var(--fg-neutral-subtle);
  --component-radio-label-fg-idle: var(--fg-neutral-prominent);
  --component-reaction-others-bg: var(--bg-neutral-subtle);
  --component-reaction-self-bg: var(--bg-expressive-yellow-subtle);
  --component-select-content-bg: var(--surface-overlay);
  --component-select-content-stroke: var(--stroke-neutral-subtle);
  --component-select-item-bg-active: var(--control-bg-neutral-subtle-hover);
  --component-select-item-bg-hover: var(--control-bg-neutral-subtle-hover);
  --component-select-item-bg-idle: var(--bg-neutral-transparent);
  --component-select-item-fg-disabled: var(--fg-neutral-subtle);
  --component-select-item-fg-idle: var(--fg-neutral-prominent);
  --component-select-label-fg: var(--control-fg-neutral-subtle-idle);
  --component-select-separator-stroke: var(--stroke-neutral-subtle);
  --component-select-trigger-bg-hover: var(--input-bg-hover);
  --component-select-trigger-bg-idle: var(--input-bg-idle);
  --component-select-trigger-bg-open: var(--input-bg-active);
  --component-select-trigger-fg-idle: var(--input-fg-value);
  --component-select-trigger-fg-placeholder: var(--input-fg-placeholder);
  --component-select-trigger-stroke-focus: var(--input-stroke-focus);
  --component-select-trigger-stroke-hover: var(--input-stroke-hover);
  --component-select-trigger-stroke-idle: var(--input-stroke-idle);
  --component-separator-stroke: var(--stroke-neutral-subtle);
  --component-sidebar-bg: var(--surface-shallow);
  --component-sidebar-item-bg-active: var(--control-bg-neutral-subtle-hover);
  --component-sidebar-item-bg-hover: var(--control-bg-neutral-subtle-hover);
  --component-sidebar-item-bg-idle: var(--bg-neutral-transparent);
  --component-sidebar-item-fg-active: var(--fg-neutral-prominent);
  --component-sidebar-item-fg-hover: var(--fg-neutral-prominent);
  --component-sidebar-item-fg-idle: var(--fg-neutral-subtle);
  --component-sidebar-section-fg: var(--fg-neutral-subtle);
  --component-sidebar-stroke: var(--stroke-neutral-subtle);
  --component-skeleton-shimmer-bg: var(--bg-neutral-subtle);
  --component-split-button-primary-bg-active: var(--control-bg-neutral-prominent-active);
  --component-split-button-primary-bg-disabled: var(--control-bg-neutral-prominent-disabled);
  --component-split-button-primary-bg-hover: var(--control-bg-neutral-prominent-hover);
  --component-split-button-primary-bg-idle: var(--control-bg-neutral-prominent-idle);
  --component-split-button-primary-divider-disabled: var(--control-fg-neutral-prominent-disabled);
  --component-split-button-primary-divider-idle: var(--control-fg-neutral-prominent-idle);
  --component-split-button-primary-fg-active: var(--control-fg-neutral-prominent-active);
  --component-split-button-primary-fg-disabled: var(--control-fg-neutral-prominent-disabled);
  --component-split-button-primary-fg-hover: var(--control-fg-neutral-prominent-hover);
  --component-split-button-primary-fg-idle: var(--control-fg-neutral-prominent-idle);
  --component-split-button-primary-stroke-active: var(--control-stroke-neutral-prominent-active);
  --component-split-button-primary-stroke-disabled: var(--control-stroke-neutral-prominent-disabled);
  --component-split-button-primary-stroke-hover: var(--control-stroke-neutral-prominent-hover);
  --component-split-button-primary-stroke-idle: var(--control-stroke-neutral-prominent-idle);
  --component-split-button-secondary-bg-active: var(--control-bg-neutral-medium-active);
  --component-split-button-secondary-bg-disabled: var(--control-bg-neutral-medium-disabled);
  --component-split-button-secondary-bg-hover: var(--control-bg-neutral-medium-hover);
  --component-split-button-secondary-bg-idle: var(--control-bg-neutral-medium-idle);
  --component-split-button-secondary-divider-disabled: var(--stroke-neutral-subtle);
  --component-split-button-secondary-divider-idle: var(--stroke-neutral-subtle);
  --component-split-button-secondary-fg-active: var(--control-fg-neutral-medium-active);
  --component-split-button-secondary-fg-disabled: var(--control-fg-neutral-medium-disabled);
  --component-split-button-secondary-fg-hover: var(--control-fg-neutral-medium-hover);
  --component-split-button-secondary-fg-idle: var(--control-fg-neutral-medium-idle);
  --component-split-button-secondary-stroke-active: var(--control-stroke-neutral-medium-active);
  --component-tab-home-bg-active: var(--bg-neutral-subtle);
  --component-tab-home-bg-idle: var(--bg-neutral-transparent);
  --component-tab-home-fg-active: var(--fg-neutral-prominent);
  --component-tab-home-fg-hover: var(--fg-neutral-prominent);
  --component-tab-home-fg-idle: var(--fg-neutral-prominent);
  --component-tab-indicator-stroke: var(--stroke-neutral-prominent);
  --component-tab-list-stroke: var(--stroke-neutral-subtle);
  --component-tab-switcher-bg-active: var(--bg-expressive-yellow-prominent);
  --component-tab-switcher-fg-active: var(--bg-neutral-prominent);
  --component-tab-switcher-fg-idle: var(--fg-neutral-on-prominent);
  --component-tab-trigger-fg-active: var(--fg-neutral-prominent);
  --component-tab-trigger-fg-hover: var(--fg-neutral-prominent);
  --component-tab-trigger-fg-idle: var(--fg-neutral-subtle);
  --component-table-cell-fg: var(--fg-neutral-prominent);
  --component-table-header-bg: var(--surface-shallow);
  --component-table-header-fg: var(--fg-neutral-subtle);
  --component-table-row-bg-hover: var(--bg-neutral-subtle);
  --component-table-row-bg-idle: var(--bg-neutral-transparent);
  --component-table-row-bg-striped: var(--bg-neutral-soft);
  --component-table-row-stroke: var(--stroke-neutral-subtle);
  --component-table-sort-fg: var(--fg-neutral-subtle);
  --component-text-area-bg-disabled: var(--input-bg-disabled);
  --component-text-area-bg-focus: var(--input-bg-active);
  --component-text-area-bg-hover: var(--input-bg-hover);
  --component-text-area-bg-idle: var(--input-bg-idle);
  --component-text-area-fg-error: var(--input-fg-error);
  --component-text-area-fg-label: var(--input-fg-label);
  --component-text-area-fg-placeholder: var(--input-fg-placeholder);
  --component-text-area-fg-value: var(--input-fg-value);
  --component-text-area-stroke-error: var(--input-stroke-error);
  --component-text-area-stroke-focus: var(--input-stroke-focus);
  --component-text-area-stroke-hover: var(--input-stroke-hover);
  --component-text-area-stroke-idle: var(--input-stroke-idle);
  --component-toast-action-fg: var(--fg-neutral-prominent);
  --component-toast-alert-bg: var(--feedback-bg-alert-subtle);
  --component-toast-alert-fg: var(--feedback-fg-alert-prominent);
  --component-toast-alert-icon-fg: var(--feedback-fg-alert-prominent);
  --component-toast-alert-stroke: var(--feedback-stroke-alert);
  --component-toast-close-fg: var(--fg-neutral-subtle);
  --component-toast-info-bg: var(--feedback-bg-info-subtle);
  --component-toast-info-fg: var(--feedback-fg-info-prominent);
  --component-toast-info-icon-fg: var(--feedback-fg-info-prominent);
  --component-toast-info-stroke: var(--feedback-stroke-info);
  --component-toast-intelligence-bg: var(--feedback-bg-intelligence-subtle);
  --component-toast-intelligence-fg: var(--feedback-fg-intelligence-prominent);
  --component-toast-intelligence-icon-fg: var(--feedback-fg-intelligence-prominent);
  --component-toast-intelligence-stroke: var(--feedback-stroke-intelligence);
  --component-toast-neutral-bg: var(--feedback-bg-neutral-subtle);
  --component-toast-neutral-fg: var(--feedback-fg-neutral-prominent);
  --component-toast-neutral-icon-fg: var(--feedback-fg-neutral-prominent);
  --component-toast-neutral-stroke: var(--feedback-stroke-neutral);
  --component-toast-success-bg: var(--feedback-bg-success-subtle);
  --component-toast-success-fg: var(--feedback-fg-success-prominent);
  --component-toast-success-icon-fg: var(--feedback-fg-success-prominent);
  --component-toast-success-stroke: var(--feedback-stroke-success);
  --component-toast-warning-bg: var(--feedback-bg-warning-subtle);
  --component-toast-warning-fg: var(--feedback-fg-warning-prominent);
  --component-toast-warning-icon-fg: var(--feedback-fg-warning-prominent);
  --component-toast-warning-stroke: var(--feedback-stroke-warning);
  --component-toggle-group-container-bg: var(--bg-neutral-transparent);
  --component-toggle-group-container-stroke: var(--stroke-neutral-subtle);
  --component-toggle-group-item-bg-active: var(--control-bg-neutral-prominent-idle);
  --component-toggle-group-item-bg-hover: var(--control-bg-neutral-subtle-hover);
  --component-toggle-group-item-bg-idle: var(--bg-neutral-transparent);
  --component-toggle-group-item-fg-active: var(--control-fg-neutral-prominent-idle);
  --component-toggle-group-item-fg-idle: var(--control-fg-neutral-subtle-idle);
  --component-toggle-thumb-bg-idle: var(--bg-neutral-prominent);
  --component-toggle-track-bg-disabled: var(--bg-neutral-subtle);
  --component-toggle-track-bg-off-hover: var(--bg-neutral-medium);
  --component-toggle-track-bg-off-idle: var(--bg-neutral-subtle);
  --component-toggle-track-bg-on-hover: var(--control-bg-expressive-yellow-hover);
  --component-toggle-track-bg-on-idle: var(--control-bg-expressive-yellow-idle);
  --component-toggle-track-stroke-off-idle: var(--stroke-neutral-medium);
  --component-tooltip-arrow-bg: var(--bg-neutral-prominent);
  --component-tooltip-bg: var(--bg-neutral-prominent);
  --component-tooltip-fg: var(--fg-neutral-on-prominent);
  --component-topic-card-bg-idle: var(--bg-expressive-blue-subtle);
  --component-topic-card-bg-loading: var(--bg-neutral-soft);
  --component-topic-card-fg-expressive: var(--fg-expressive-orange-prominent);
  --component-topic-card-fg-loading: var(--fg-neutral-medium);
}
