/* Generated: 2026-04-22T02:43:28.209Z from tokens.tokens.json (90 variables) */
/* Layer: core */

:root {
  --core-blueberry-blue-100: #e7fbff;
  --core-blueberry-blue-200: #cff4ff;
  --core-blueberry-blue-300: #92e0ff;
  --core-blueberry-blue-400: #46c1ff;
  --core-blueberry-blue-500: #199bff;
  --core-blueberry-blue-600: #077cff;
  --core-blueberry-blue-700: #0053e7;
  --core-blueberry-blue-800: #002ab0;
  --core-blueberry-blue-900: #000982;
  --core-chili-red-100: #fff2eb;
  --core-chili-red-200: #ffe5db;
  --core-chili-red-300: #ffccbb;
  --core-chili-red-400: #ffab99;
  --core-chili-red-500: #ff8774;
  --core-chili-red-600: #ff342d;
  --core-chili-red-700: #d10000;
  --core-chili-red-800: #94030a;
  --core-chili-red-900: #650008;
  --core-font-display: "Chip Display Variable";
  --core-font-mono: "Chip Mono";
  --core-font-text: "Chip Text Variable";
  --core-lychee-pink-100: #fff2fc;
  --core-lychee-pink-200: #ffe4f9;
  --core-lychee-pink-300: #ffbbe8;
  --core-lychee-pink-400: #ff91d5;
  --core-lychee-pink-500: #ff73c2;
  --core-lychee-pink-600: #ff52a8;
  --core-lychee-pink-700: #e00274;
  --core-lychee-pink-800: #9c0044;
  --core-lychee-pink-900: #6e002b;
  --core-marmalade-orange-100: #fff8eb;
  --core-marmalade-orange-200: #fcecd2;
  --core-marmalade-orange-300: #ffdaa3;
  --core-marmalade-orange-400: #ffb96f;
  --core-marmalade-orange-500: #ff984a;
  --core-marmalade-orange-600: #ff7924;
  --core-marmalade-orange-700: #d14600;
  --core-marmalade-orange-800: #8d2e00;
  --core-marmalade-orange-900: #650008;
  --core-matcha-green-100: #eeffd6;
  --core-matcha-green-200: #e1ffb2;
  --core-matcha-green-300: #c4ff66;
  --core-matcha-green-400: #a0ed1a;
  --core-matcha-green-500: #8ad500;
  --core-matcha-green-600: #74ae00;
  --core-matcha-green-700: #4b8100;
  --core-matcha-green-800: #2b5500;
  --core-matcha-green-900: #153e00;
  --core-neutrals-100: #ffffff;
  --core-neutrals-1000: #615e5f;
  --core-neutrals-1100: #4a4748;
  --core-neutrals-1200: #333132;
  --core-neutrals-1300: #211e20;
  --core-neutrals-1400: #121011;
  --core-neutrals-1500: #000000;
  --core-neutrals-200: #faf9f9;
  --core-neutrals-300: #f2f1f2;
  --core-neutrals-400: #eceaeb;
  --core-neutrals-500: #dedcdd;
  --core-neutrals-600: #c7c3c5;
  --core-neutrals-700: #a5a0a3;
  --core-neutrals-800: #898587;
  --core-neutrals-900: #737072;
  --core-plum-purple-100: #fbf2ff;
  --core-plum-purple-200: #f6e5ff;
  --core-plum-purple-300: #edd3ff;
  --core-plum-purple-400: #d5abff;
  --core-plum-purple-500: #bf92ff;
  --core-plum-purple-600: #a46fff;
  --core-plum-purple-700: #7023ff;
  --core-plum-purple-800: #4700ab;
  --core-plum-purple-900: #380078;
  --core-wasabi-teal-100: #e4ffef;
  --core-wasabi-teal-200: #c6ffe3;
  --core-wasabi-teal-300: #90fccf;
  --core-wasabi-teal-400: #3df2b9;
  --core-wasabi-teal-500: #00e6aa;
  --core-wasabi-teal-600: #00bf89;
  --core-wasabi-teal-700: #009261;
  --core-wasabi-teal-800: #006139;
  --core-wasabi-teal-900: #003d1f;
  --core-yuzu-yellow-100: #ffffbb;
  --core-yuzu-yellow-200: #fffa9b;
  --core-yuzu-yellow-300: #fff049;
  --core-yuzu-yellow-400: #ffe000;
  --core-yuzu-yellow-500: #f6c800;
  --core-yuzu-yellow-600: #cd9600;
  --core-yuzu-yellow-700: #a07000;
  --core-yuzu-yellow-800: #714400;
  --core-yuzu-yellow-900: #4f2900;
}
