/* Generated: 2026-04-22T02:43:28.217Z from tokens.tokens.json (292 variables) */
/* Layer: light (semantic) */

:root, :root.light {
  --bg-alert-medium: var(--core-chili-red-300);
  --bg-alert-prominent: var(--core-chili-red-700);
  --bg-alert-subtle: var(--core-chili-red-200);
  --bg-expressive-blue-medium: var(--core-blueberry-blue-300);
  --bg-expressive-blue-prominent: var(--core-blueberry-blue-700);
  --bg-expressive-blue-subtle: var(--core-blueberry-blue-100);
  --bg-expressive-yellow-medium: var(--core-yuzu-yellow-300);
  --bg-expressive-yellow-prominent: var(--core-yuzu-yellow-400);
  --bg-expressive-yellow-subtle: var(--core-yuzu-yellow-200);
  --bg-info-medium: var(--core-blueberry-blue-300);
  --bg-info-prominent: var(--core-blueberry-blue-700);
  --bg-info-subtle: var(--core-blueberry-blue-100);
  --bg-intelligence-medium: var(--core-plum-purple-400);
  --bg-intelligence-prominent: var(--core-plum-purple-800);
  --bg-intelligence-subtle: var(--core-plum-purple-200);
  --bg-neutral-inverted: var(--core-neutrals-100);
  --bg-neutral-medium: #211e20e8;
  --bg-neutral-prominent: var(--core-neutrals-1300);
  --bg-neutral-soft: #8985871a;
  --bg-neutral-subtle: #211e2026;
  --bg-neutral-transparent: #ffffff00;
  --bg-success-medium: var(--core-matcha-green-300);
  --bg-success-prominent: var(--core-matcha-green-700);
  --bg-success-subtle: var(--core-matcha-green-100);
  --bg-warning-medium: var(--core-yuzu-yellow-400);
  --bg-warning-prominent: var(--core-yuzu-yellow-600);
  --bg-warning-subtle: var(--core-yuzu-yellow-100);
  --bubble-padding-x: 14px;
  --bubble-padding-y: 10px;
  --chart-category-1: var(--core-plum-purple-600);
  --chart-category-2: var(--core-marmalade-orange-600);
  --chart-category-3: var(--core-blueberry-blue-500);
  --chart-category-4: var(--core-matcha-green-700);
  --chart-category-5: var(--core-plum-purple-800);
  --chart-category-6: var(--core-chili-red-700);
  --chart-category-7: var(--core-blueberry-blue-800);
  --chart-category-8: var(--core-marmalade-orange-800);
  --control-bg-alert-active: #ffe5db00;
  --control-bg-alert-disabled: #ffe5db80;
  --control-bg-alert-hover: var(--core-chili-red-300);
  --control-bg-alert-idle: var(--core-chili-red-200);
  --control-bg-expressive-yellow-active: var(--core-yuzu-yellow-400);
  --control-bg-expressive-yellow-disabled: #ffe00080;
  --control-bg-expressive-yellow-hover: var(--core-yuzu-yellow-400);
  --control-bg-expressive-yellow-idle: var(--core-yuzu-yellow-400);
  --control-bg-neutral-medium-active: #f2f1f200;
  --control-bg-neutral-medium-disabled: #f2f1f280;
  --control-bg-neutral-medium-hover: var(--core-neutrals-500);
  --control-bg-neutral-medium-idle: var(--core-neutrals-300);
  --control-bg-neutral-prominent-active: #211e2000;
  --control-bg-neutral-prominent-disabled: #211e2080;
  --control-bg-neutral-prominent-hover: var(--core-neutrals-1200);
  --control-bg-neutral-prominent-idle: var(--core-neutrals-1300);
  --control-bg-neutral-subtle-active: #ffffff00;
  --control-bg-neutral-subtle-disabled: #ffffff00;
  --control-bg-neutral-subtle-hover: var(--core-neutrals-300);
  --control-bg-neutral-subtle-idle: #ffffff00;
  --control-fg-alert-active: var(--core-chili-red-700);
  --control-fg-alert-disabled: #d1000080;
  --control-fg-alert-hover: var(--core-chili-red-700);
  --control-fg-alert-idle: var(--core-chili-red-700);
  --control-fg-expressive-yellow-active: var(--core-neutrals-1300);
  --control-fg-expressive-yellow-disabled: #211e2080;
  --control-fg-expressive-yellow-hover: var(--core-neutrals-1300);
  --control-fg-expressive-yellow-idle: var(--core-neutrals-1300);
  --control-fg-neutral-medium-active: var(--core-neutrals-1300);
  --control-fg-neutral-medium-disabled: #211e2080;
  --control-fg-neutral-medium-hover: var(--core-neutrals-1300);
  --control-fg-neutral-medium-idle: var(--core-neutrals-1300);
  --control-fg-neutral-prominent-active: var(--core-neutrals-1300);
  --control-fg-neutral-prominent-disabled: #ffffff80;
  --control-fg-neutral-prominent-hover: var(--core-neutrals-100);
  --control-fg-neutral-prominent-idle: var(--core-neutrals-100);
  --control-fg-neutral-subtle-active: var(--core-neutrals-1300);
  --control-fg-neutral-subtle-disabled: #211e2080;
  --control-fg-neutral-subtle-hover: var(--core-neutrals-1300);
  --control-fg-neutral-subtle-idle: var(--core-neutrals-1300);
  --control-gap-large: 8px;
  --control-gap-medium: 6px;
  --control-gap-small: 4px;
  --control-gap-split-medium: 5px;
  --control-large-font-padding-y: 10px;
  --control-size-default: 28px;
  --control-size-large: 40px;
  --control-size-small: 20px;
  --control-stroke-alert-active: var(--core-chili-red-300);
  --control-stroke-neutral-medium-active: var(--core-neutrals-300);
  --control-stroke-neutral-prominent-active: #211e2000;
  --control-stroke-neutral-prominent-disabled: #211e2080;
  --control-stroke-neutral-prominent-hover: var(--core-neutrals-1200);
  --control-stroke-neutral-prominent-idle: var(--core-neutrals-1300);
  --control-stroke-neutral-subtle-active: var(--core-neutrals-300);
  --corner-bubble: 20px;
  --corner-circle: 14px;
  --corner-circle-x2: 20px;
  --corner-square: 4px;
  --corner-square-x2: 6px;
  --elevation-01: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --elevation-02: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --elevation-03: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --elevation-04: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --feedback-bg-alert-prominent: var(--bg-alert-prominent);
  --feedback-bg-alert-subtle: var(--bg-alert-subtle);
  --feedback-bg-info-prominent: var(--bg-info-prominent);
  --feedback-bg-info-subtle: var(--bg-info-subtle);
  --feedback-bg-intelligence-prominent: var(--bg-intelligence-prominent);
  --feedback-bg-intelligence-subtle: var(--bg-intelligence-subtle);
  --feedback-bg-neutral-prominent: var(--bg-neutral-prominent);
  --feedback-bg-neutral-subtle: var(--bg-neutral-subtle);
  --feedback-bg-success-prominent: var(--bg-success-prominent);
  --feedback-bg-success-subtle: var(--bg-success-subtle);
  --feedback-bg-warning-prominent: var(--bg-warning-prominent);
  --feedback-bg-warning-subtle: var(--bg-warning-subtle);
  --feedback-fg-alert-on-prominent: var(--fg-alert-on-prominent);
  --feedback-fg-alert-prominent: var(--fg-alert-prominent);
  --feedback-fg-info-on-prominent: var(--fg-info-on-prominent);
  --feedback-fg-info-prominent: var(--fg-info-prominent);
  --feedback-fg-intelligence-on-prominent: var(--fg-intelligence-on-prominent);
  --feedback-fg-intelligence-prominent: var(--fg-intelligence-prominent);
  --feedback-fg-neutral-on-prominent: var(--fg-neutral-on-prominent);
  --feedback-fg-neutral-prominent: var(--fg-neutral-prominent);
  --feedback-fg-success-on-prominent: var(--fg-success-on-prominent);
  --feedback-fg-success-prominent: var(--fg-success-prominent);
  --feedback-fg-warning-on-prominent: var(--fg-warning-on-prominent);
  --feedback-fg-warning-prominent: var(--fg-warning-prominent);
  --feedback-status-offline: var(--bg-neutral-subtle);
  --feedback-status-online: #00C853;
  --feedback-stroke-alert: var(--bg-alert-medium);
  --feedback-stroke-info: var(--bg-info-medium);
  --feedback-stroke-intelligence: var(--bg-intelligence-medium);
  --feedback-stroke-neutral: var(--stroke-neutral-subtle);
  --feedback-stroke-success: var(--bg-success-medium);
  --feedback-stroke-warning: var(--bg-warning-medium);
  --fg-alert-on-prominent: var(--core-chili-red-100);
  --fg-alert-prominent: var(--core-chili-red-700);
  --fg-expressive-orange-prominent: var(--core-marmalade-orange-700);
  --fg-info-on-prominent: var(--core-blueberry-blue-200);
  --fg-info-prominent: var(--core-blueberry-blue-700);
  --fg-intelligence-on-prominent: var(--core-plum-purple-200);
  --fg-intelligence-prominent: var(--core-plum-purple-800);
  --fg-neutral-black: var(--core-neutrals-1300);
  --fg-neutral-medium: var(--core-neutrals-900);
  --fg-neutral-on-prominent: var(--core-neutrals-100);
  --fg-neutral-prominent: var(--core-neutrals-1300);
  --fg-neutral-subtle: var(--core-neutrals-700);
  --fg-neutral-white: var(--core-neutrals-100);
  --fg-success-on-prominent: var(--core-matcha-green-100);
  --fg-success-prominent: var(--core-matcha-green-700);
  --fg-warning-on-prominent: var(--core-yuzu-yellow-900);
  --fg-warning-prominent: var(--core-yuzu-yellow-800);
  --font-display: var(--core-font-display);
  --font-mono: var(--core-font-mono);
  --font-text: var(--core-font-text);
  --font-weight-bold: 650;
  --font-weight-medium: 520;
  --font-weight-regular: 460;
  --gutter-default: 20px;
  --gutter-small: 16px;
  --icon-size-default: 16px;
  --icon-size-large: 24px;
  --icon-size-medium: 20px;
  --icon-size-mid-2: 18px;
  --icon-size-small: 12px;
  --icon-size-x-large: 32px;
  --input-bg-active: #ffffff00;
  --input-bg-disabled: #faf9f980;
  --input-bg-hover: var(--core-neutrals-300);
  --input-bg-idle: var(--core-neutrals-300);
  --input-fg-disabled: #73707280;
  --input-fg-error: var(--core-chili-red-700);
  --input-fg-label: var(--core-neutrals-900);
  --input-fg-placeholder: var(--core-neutrals-900);
  --input-fg-value: var(--core-neutrals-1300);
  --input-stroke-active: var(--core-neutrals-500);
  --input-stroke-disabled: #ffffff00;
  --input-stroke-error: var(--core-chili-red-700);
  --input-stroke-focus: var(--core-neutrals-1400);
  --input-stroke-hover: var(--core-neutrals-500);
  --input-stroke-idle: #ffffff00;
  --measure-body: 520px;
  --object-customer-bg: var(--core-matcha-green-200);
  --object-customer-fg: var(--core-matcha-green-800);
  --object-customer-stroke: var(--core-yuzu-yellow-500);
  --object-issue-bg: #0053e71a;
  --object-issue-fg: var(--core-blueberry-blue-800);
  --object-ticket-bg: #cd96001a;
  --object-ticket-fg: var(--core-yuzu-yellow-800);
  --opacity-disabled: 50;
  --stroke-alert: var(--core-chili-red-700);
  --stroke-neutral-medium: var(--core-neutrals-600);
  --stroke-neutral-prominent: var(--core-neutrals-1300);
  --stroke-neutral-subtle: var(--core-neutrals-300);
  --surface-backdrop: var(--core-neutrals-100);
  --surface-overlay: var(--core-neutrals-100);
  --surface-shallow: var(--core-neutrals-200);
  --typography-body-bold-font-family: var(--core-font-text);
  --typography-body-bold-font-size: var(--typography-body-font-size);
  --typography-body-bold-font-weight: var(--font-weight-bold);
  --typography-body-bold-letter-spacing: var(--typography-body-letter-spacing);
  --typography-body-bold-line-height: var(--typography-body-line-height);
  --typography-body-font-family: var(--core-font-text);
  --typography-body-font-size: 15px;
  --typography-body-font-weight: var(--font-weight-regular);
  --typography-body-large-bold-font-family: var(--core-font-text);
  --typography-body-large-bold-font-size: var(--typography-body-large-font-size);
  --typography-body-large-bold-font-weight: var(--font-weight-bold);
  --typography-body-large-bold-letter-spacing: var(--typography-body-large-letter-spacing);
  --typography-body-large-bold-line-height: var(--typography-body-large-line-height);
  --typography-body-large-font-family: var(--core-font-text);
  --typography-body-large-font-size: 19px;
  --typography-body-large-font-weight: var(--font-weight-regular);
  --typography-body-large-letter-spacing: -0.19px;
  --typography-body-large-line-height: 26px;
  --typography-body-letter-spacing: -0.15px;
  --typography-body-line-height: 24px;
  --typography-body-small-bold-font-family: var(--core-font-text);
  --typography-body-small-bold-font-size: var(--typography-body-small-font-size);
  --typography-body-small-bold-font-weight: var(--font-weight-bold);
  --typography-body-small-bold-letter-spacing: var(--typography-body-letter-spacing);
  --typography-body-small-bold-line-height: var(--typography-body-small-line-height);
  --typography-body-small-font-family: var(--core-font-text);
  --typography-body-small-font-size: 13px;
  --typography-body-small-font-weight: var(--font-weight-regular);
  --typography-body-small-letter-spacing: -0.13px;
  --typography-body-small-line-height: 20px;
  --typography-callout-font-family: var(--core-font-text);
  --typography-callout-font-size: 12px;
  --typography-callout-font-weight: var(--font-weight-regular);
  --typography-callout-letter-spacing: -0.12px;
  --typography-callout-line-height: 18px;
  --typography-caption-font-family: var(--core-font-text);
  --typography-caption-font-size: 10px;
  --typography-caption-font-weight: var(--font-weight-regular);
  --typography-caption-letter-spacing: -0.15px;
  --typography-caption-line-height: 16px;
  --typography-numerical-font-family: var(--core-font-text);
  --typography-numerical-font-size: 10px;
  --typography-numerical-font-weight: var(--font-weight-regular);
  --typography-numerical-letter-spacing: 0px;
  --typography-numerical-line-height: 10px;
  --typography-system-font-family: var(--core-font-text);
  --typography-system-font-size: 13px;
  --typography-system-font-weight: var(--font-weight-regular);
  --typography-system-large-font-family: var(--core-font-text);
  --typography-system-large-font-size: 15px;
  --typography-system-large-font-weight: var(--font-weight-regular);
  --typography-system-large-letter-spacing: -0.15px;
  --typography-system-large-line-height: 20px;
  --typography-system-letter-spacing: -0.13px;
  --typography-system-line-height: 16px;
  --typography-system-medium-font-family: var(--core-font-text);
  --typography-system-medium-font-size: var(--typography-system-font-size);
  --typography-system-medium-font-weight: var(--font-weight-medium);
  --typography-system-medium-letter-spacing: var(--typography-system-letter-spacing);
  --typography-system-medium-line-height: var(--typography-system-line-height);
  --typography-system-small-font-family: var(--core-font-text);
  --typography-system-small-font-size: 11px;
  --typography-system-small-font-weight: var(--font-weight-regular);
  --typography-system-small-letter-spacing: -0.11px;
  --typography-system-small-line-height: 16px;
  --typography-system-small-medium-font-family: var(--core-font-text);
  --typography-system-small-medium-font-size: var(--typography-system-small-font-size);
  --typography-system-small-medium-font-weight: var(--font-weight-medium);
  --typography-system-small-medium-letter-spacing: var(--typography-system-small-letter-spacing);
  --typography-system-small-medium-line-height: var(--typography-system-medium-line-height);
  --typography-title-large-font-family: var(--core-font-display);
  --typography-title-large-font-size: 40px;
  --typography-title-large-font-weight: var(--font-weight-bold);
  --typography-title-large-letter-spacing: 0px;
  --typography-title-large-line-height: 46px;
  --typography-title1-font-family: var(--core-font-display);
  --typography-title1-font-size: 33px;
  --typography-title1-font-weight: var(--font-weight-bold);
  --typography-title1-letter-spacing: 0px;
  --typography-title1-line-height: 40px;
  --typography-title2-font-family: var(--core-font-display);
  --typography-title2-font-size: 27px;
  --typography-title2-font-weight: var(--font-weight-bold);
  --typography-title2-letter-spacing: 0px;
  --typography-title2-line-height: 36px;
  --typography-title3-font-family: var(--core-font-display);
  --typography-title3-font-size: 22px;
  --typography-title3-font-weight: var(--font-weight-bold);
  --typography-title3-letter-spacing: 0px;
  --typography-title3-line-height: 28px;
  --z-base: 0;
  --z-dropdown: 10;
  --z-modal: 40;
  --z-overlay: 30;
  --z-popover: 50;
  --z-sticky: 20;
  --z-toast: 60;
}
